/* breakpoint for mobile portrait view */
@media only screen and (max-width: 600px) {
}

/* breakpoint for mobile landscape view */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
}

/* breakpoint for laptop/desktop view */
@media only screen and (min-width: 1280px) {
}

/* css for all views  */
.formSectionTitle {
  font-weight: 600;
}

.editProfileForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editProfileInfoContainer {
  flex-direction: column;
}

/* setting z index on autocomplete drop down
will be hidden behind modal otherwise */
.pac-container {
  z-index: 100000;
}

.editProfileMyClasses {
  gap: 10px;
  flex-wrap: wrap;
}

.myClassesContainer {
  gap: 10px;
}

.editProfileEachClass {
  flex-direction: column;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 5px;
}

.eachClassTop {
  gap: 10px;
}

.editProfileDeleteClass {
  cursor: pointer;
}

.myClassesTopContainer {
  justify-content: space-between;
}

.addClassContainer {
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.addClassContainer:hover {
  color: green;
}

.addNewClassForm {
  margin-bottom: 40px;
}

.addClassBtn {
  width: 100%;
  margin-top: 5px;
}

/* .editProfileComplete {
  color: green;
}

.editProfileIncomplete {
  color: red;
} */
