/* breakpoint for mobile portrait view */
@media only screen and (max-width: 600px) {
  .profileContainer {
    width: 75%;
  }
}

/* breakpoint for mobile landscape view */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .profileContainer {
    width: 50%;
  }
}

/* breakpoint for laptop/desktop view */
@media only screen and (min-width: 1280px) {
  .profileContainer {
    width: 50%;
  }
}

/* css for all views  */
.profileContainer {
  flex-direction: column;
  gap: 10px;
}

.profileHeaderContainer {
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 3px;
  border-radius: 5px;
}

.profileHeaderSubContainer {
  justify-content: space-between;
}

.profileEditBtn {
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.profileEditBtn:hover {
  background-color: rgb(232, 232, 232);
}

.profileMyClasses {
  gap: 10px;
  flex-wrap: wrap;
}

.profileEachClass {
  color: white;
  background-color: green;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
