/* breakpoint for mobile portrait view */
@media only screen and (max-width: 600px) {
  .registerForm {
    width: 50%;
  }
}

/* breakpoint for mobile landscape view */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .registerForm {
    width: 50%;
  }
}

/* breakpoint for laptop/desktop view */
@media only screen and (min-width: 1280px) {
  .registerForm {
    width: 25%;
  }
}

/* css for all views  */
.registerContainer {
  flex-direction: column;
}

.registerForm {
  display: flex;
  flex-direction: column;
}
